.cards{
    border: 1px solid black;
    width: 1200px;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    margin-left: 100px;
    display: flex;
    background-color: rgba(31,31,31,255);
}
.imgsize{
    width: 200px;
    height: 200px;
    border-radius: 20px;
}
.leftspace{
    padding-left: 20px;
}
.body{
    background-color: rgba(41,42,45,255);
}
.whitetxt{
    color: aliceblue;
}
.latestnews{
    text-align: center;
    color: aliceblue;
}
.nav{
    display: flex;
    color: aliceblue;
}
.navcontainer{
    background-color: rgba(31,31,31,255);
}li{
    padding: 20px 0px;
    padding-left: 100px;
    list-style-type: none;
}
li:hover{
    cursor: pointer;
    color: aqua;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    text-decoration-color: aliceblue;
    cursor: pointer;
}